* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.companyName,
.greeting {
  width: 500px;
  height: 50px;
  margin: auto;
  border: 1px black solid;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: xx-large;
}

nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #c7c7c7;
  padding: 5px 0;
  margin-bottom: 20px;
}

nav button {
  display: flex;
  align-items: center;
  font-size: 1em;
  height: 30px;
  padding: 0 10px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}
nav button:hover {
  background: #28292852;
  color: white;
}

.hide {
  display: none;
}
.hidden {
  display: none;
}

#ordersTablee {
  width: 500px;
  margin: auto;
  margin-top: 100px;
}

#ordersTablee th,
td {
  border: 1px solid black;
  align-items: center;
}
