.login {
  width: 300px;
  margin: auto;
  margin-top: 20px;
}

.login p input {
  margin: 10px;
}
.login p {
  margin-top: 10px;
}

#frame {
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 100px;
  padding-left: 20px;
}

.login button {
  width: 70px;
  margin-top: 40px;
}

legend {
  font-size: x-large;
}
