
.carList {
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.listItem {
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid gray;
  border-radius: 10px;
}
.details {
  display: inline-block;
  height: 100%;

  outline: 1px solid rgb(169, 164, 164);
  outline-offset: -2px;
  border-radius: 10px;

  /* this to make short text in the center of div */
  line-height: 100px;
  text-align: center;

  /* add if the text is long, so we make them in the center of div */
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}
.details .brand span,
.details .price span {
  margin-left: 10px;
}

#euro-text {
  color: blue;
}

.euroBtn,
.bookBtn {
  padding: 4px 10px;
  width: 100px;
  color: green;
}

.bookBtn {
  margin-top: 2px;
}

.img {
  width: 250px;
  height: 150px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.sortCars {
  margin-left: 20px;
  
}
.sortCars button {
  width: 100px;
  color: green;
  height: 30px;

}

